[submodule "external/nonstd"]
	path = external/nonstd
	url = https://github.com/QuinMcCl/nonstd.git
[submodule "external/nonstd_glfw_opengl"]
	path = external/nonstd_glfw_opengl
	url = https://github.com/QuinMcCl/nonstd_glfw_opengl.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
[submodule "external/nonstd_imgui"]
	path = external/nonstd_imgui
	url = https://github.com/QuinMcCl/nonstd_imgui.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
